Untitled1.ipynb
Untitled2.ipynb
datasets/

# Ignore Python compiled files
__pycache__/
*.py[cod]
*$py.class

# Ignore virtual environment files
env/
venv/
ENV/
.env/
.venv/



# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/



# Ignore log files
*.log

# Ignore cache files
.pytest_cache/
.mypy_cache/


# Ignore system files
.DS_Store
Thumbs.db

# Ignore dependency files (if using a virtual environment)
Pipfile
Pipfile.lock
poetry.lock
pyproject.toml

# Ignore test files (if not tracked)
tests/
test_*.py

# Ignore local configuration files
local_settings.py
settings.ini